.container {
  width: 100%;
  min-height: 100vh;

  .welcome-banner {
    width: 100%;
    height: 885px;
    position: relative;

    .banner-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .banner-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;

      .text1 {
        color: #ffffff;
        font-size: 40px;
        font-weight: 500;
      }

      .text2 {
        color: #ffffff;
        font-size: 64px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: 10px;
      }

      .see-offer_btn {
        margin-top: 10px;
        width: 178px;
        height: 68px;
        font-size: 24px;
        text-transform: capitalize;
      }
    }

    @media (max-width: 800px) {
      height: 358px;

      .banner-content {
        .text1 {
          font-size: 24px;
        }

        .text2 {
          font-size: 30px;
          margin-top: 0px;
        }

        .see-offer_btn {
          margin-top: 12px;
          width: 142px;
          height: 43px;
          font-size: 20px;
          border-radius: 10px;
        }
      }
    }

    @media (max-width: 430px) {
      height: 217px;

      .banner-img {
        height: 217px;
      }

      .banner-content {
        .text1 {
          font-size: 16px;
        }

        .text2 {
          font-size: 24px;
        }

        .see-offer_btn {
          width: 142px;
          height: 35px;
          font-size: 16px;
        }
      }
    }
  }

  .services {
    margin: 60px auto;
    width: 100%;
    padding: 0 170px;

    @media (max-width: 1150px) {
      width: 100%;
      padding: 0 40px;
    }

    @media (max-width: 800px) {
      width: 100%;
      padding: 0 40px;
    }

    @media (max-width: 430px) {
      margin-top: 33px;
      margin-bottom: 0;
      padding: 0 45px;
    }

    @import "../components/home/DiscoverServices";
  }

  .video {
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 60px;
    width: 100%;
    padding: 0 170px;

    @media (max-width: 1150px) {
      padding: 0 40px;
    }

    @media (max-width: 800px) {
      margin-top: 60px;
    }

    @media (max-width: 430px) {
      margin-top: 24px;
      // width: 340px;
    }

    @import "../components/home/Video";
  }

  .carousel {
    margin: 60px auto;
    width: 100%;
    padding: 0 170px;
    height: 770px;
    display: flex;
    align-items: flex-end;
    position: relative;

    .carousel-title {
      position: absolute;
      top: 0;
      font-size: 40px;
      color: #424244;
    }

    @media (max-width: 1150px) {
      padding: 0 40px;
    }

    @media (max-width: 800px) {
      width: 100%;
      padding: 0 40px;
      margin-top: 97px;
      height: 600px;
    }

    @media (max-width: 430px) {
      margin: 24px 0;
      padding: 0 20px;

      .carousel-title {
        font-size: 22px;
      }
    }

    @import "../components/home/Carousel";
  }

  .blogs {
    margin: 60px auto;
    width: 100%;
    padding: 0 170px;

    @media (max-width: 1150px) {
      padding: 0 40px;
    }

    @media (max-width: 800px) {
      width: 100%;
      margin-top: 29px;
      padding: 0 20px;
    }

    @import "../components/home/Blogs";
  }

  .book-trip {
    margin: 60px 0;
    width: 100%;
    height: 567px;
    background-color: #e0e0e0;

    @media (max-width: 800px) {
      height: auto;
      background-color: transparent;
    }

    @import "../components/home/BookTrip";
  }
}
