.title {
  font-size: 42px;
  color: #424244;
}

.handles {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 30px;
    color: #626263;
  }
}

.cards {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  .card {
    .name {
      margin-top: 10px;
      font-size: 28px;
      text-transform: capitalize;
      color: #424244;
    }
  }
}
